.screen-header {
  display: flex;
  margin: 20px 30px;
  justify-content: space-between;
  align-items: center;
}

.screen-header > h1 {
  font-size: 35px;
  font-weight: bold;
}

.screen-header__icons i {
  padding: 10px;
}
